.banner{
    background-color: #e21617;
    display:flex;
    font-size: justify;
    width: 100%;
    justify-content:space-around;
    color:white

}
.menu{
    background-color: white;
    border: solid #e21617;
    display:flex;
    justify-content: space-around;

}
@media (max-width:500px){
    .menu{
      display:flex;
      flex-flow:column wrap;
      float:left;
      gap:50px;
      margin-right: 10px;
    }
    .menu>li{
        width:100px;
    }
}
img{
    height:120px;
}
li{
    list-style: none;

}
a{
    color:#e21617
}